"*":
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "dracula-syntax"
    ]
  editor:
    fontFamily: "Operator Mono"
    fontSize: 16
    invisibles: {}
    lineHeight: 1.75
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "formatter-json":
    json: {}
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
